.editor {
  position: absolute;
  overflow: hidden;
}

.scroller {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;     
}

.gutter {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
}

.editor .sb {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  right: 0;
}

.editor .sb div {
  position: absolute;
  width: 1px;
  left: 0px;
}

.editor .printMargin {
  position: absolute;
  height: 100%;
}

.layer {
  z-index: 0;
  position: absolute;
  overflow: hidden;  
  white-space: nowrap;
  height: 100%;
}

.text-layer {
  font-family: Monaco, "Courier New", monospace;
  color: black;
}

.cursor-layer {
  cursor: text;
}

.cursor {
  z-index: 3;
  position: absolute;
}

.line {
  white-space: nowrap;
}

.marker-layer {
}

.marker-layer .step {
  position: absolute;
  z-index: 2;
}

.marker-layer .selection {
  position: absolute;
  z-index: 3;
}

.marker-layer .bracket {
  position: absolute;
  z-index: 4;
}

.marker-layer .active_line {
  position: absolute;
  z-index: 1;
}