body {
    margin:0;
    padding:0;
    background-color:#e6f5fc;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica;
    font-weight: 100;
    margin:0;
    padding:0;
}

h2, h3, h4, h5, h6 {
    padding-top: 30px;
    border-bottom: 1px solid #bedaea;
}

H2 {
    font-size:28px;
    color:#263842;
    padding-bottom:6px;
}

H3 {
    font-size:22px;
    color:#253741;
    margin-top:43px;
    margin-bottom:8px;
}

H4 {
    font-size:21px;
    color:#222222;
    margin-bottom:4px;
}

P {
    padding:13px 0;
    margin:0;
    line-height:22px;
    font-size: 16px;
}

UL{
    line-height : 22px;
}

#header {
	height: 93px;
	position: relative;
	background: url(images/background.png) repeat-x 0 0;
	border-bottom: 1px solid #C9E8FA;
	margin-top: 40px;
}

#header .content .signature {
    font-family:Trebuchet MS;
    font-size:11px;
    color:#ebe4d6;
    position:absolute;
    bottom:5px;
    right:42px;
    letter-spacing : 1px;
}

.content {
    width:970px;
    position:relative;
    margin:0 auto;
}

#header .content {
	height: 100%;
	z-index: 90000;
}

#header .content .logo {
	width: 141px;
	height: 92px;
	background: url(images/logo_half.png) no-repeat 0 0;
	position: absolute;
	top: -14px;
	left: 0;
}

#header .content .title {
	width: 605px;
	height: 58px;
	background: url(images/ace.png) no-repeat 0 0;
	position: absolute;
	top: 22px;
	left: 329px;
}

#wrapper {
    background:url(images/body_background.png) repeat-x 0 -15px;
    min-height:250px;
}

#wrapper .content {
    font-family:Arial;
    font-size:14px;
    color:#222222;
    width: 960px;
}

#wrapper .content .column1 {
    position:relative;
    overflow:hidden;
    float:left;
    width:315px;
    margin-right:31px;
}

#wrapper .content .column2 {
    position:relative;
    overflow:hidden;
    float:left;
    /*width:600px;*/
}

#top_container h1 {
    font-size: 68px;
    line-height: 60px;
    width: 515px;
    float: left;
    font-weight: 100;
    font-family: Helvetica;
    padding-top: 20px;
    color: #333;
}

#top_container {
    overflow: hidden;
    padding: 15px 40px;
    height: 280px;
    -webkit-transition: height 0.4s ease-out, opacity 0.4s ease-out, padding 0.4s ease-out, margin 0.4s ease-out;
    opacity: 1;
    margin-top: 25px;
}

#top_container.collapse {
    padding: 0px;
    height: 0px;
    opacity: 0;
    margin: 0;
}

#page_logo {
    padding: 15px 0;
    width: 350px;
    float: right;
    text-align: center;
    height: 220px;
    padding-top: 45px;
}

.fork_on_github {
    width:310px;
    height:80px;
    background:url(images/fork_on_github.png) no-repeat 0 0;
    position:relative;
    overflow:hidden;
    margin-top:49px;
    cursor:pointer;
}

.fork_on_github:hover {
    background-position:0 -80px;
}

.divider {
    height: 1px;
    background-color:#bedaea;
    margin-bottom:3px;
}

.menu, .site-menu {
    padding:23px 0 0 24px;
}

UL.content-list {
    padding: 15px 20px;
    margin:0;
}

ul.menu-list {
    padding: 0;
    margin: 15px 0 20px 0;
    list-style-type: none;
    line-height: 16px;
    overflow: auto;
}

UL.menu-list LI {
    color:#2557b4;
    font-family: Helvetica, Trebuchet MS;
    font-size:12px;
    padding: 5px;
    display: block;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 80px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

A {
    color:#2557b4;
    text-decoration:none;
}

A:hover {
    text-decoration:underline;
}

#footer {
    height:40px;
    position:relative;
    overflow:hidden;
    background:url(images/bottombar.png) repeat-x 0 0;
    position:relative;
    margin-top:40px;
}

UL.menu-footer {
    padding:0;
    margin:8px 11px 0 0;
    list-style-type:none;
    float:right;
}

UL.menu-footer LI {
    color:white;
    font-family:Arial;
    font-size:12px;
    display:inline-block;
    margin:0 1px;
}

UL.menu-footer LI A {
    color:#8dd0ff;
    text-decoration:none;
}

UL.menu-footer LI A:hover {
    text-decoration:underline;
}

.nav-pills.nav {
    margin: 25px 0 25px 0;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    background: #eeeeee;
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    overflow: hidden;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    color: white;
    background-color: #555;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
    text-shadow: none;
}

.nav-tabs > li > a, .nav-pills > li > a {
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid #bbb;
    border-radius: 0;
    margin: 0;
    line-height: 24px;
    font-size: 14px;
    color: #333;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

.nav.nav-pills li:first-child > a {
    padding-left: 29px;
    padding-right: 29px;
}

.nav.nav-pills li:first-child > a > img {
    width: 34px;
}

.nav.nav-pills li:last-child > a {
    border-right: none;
}

.tab-content > .active, .pill-content > .active {
    padding: 35px 30px;
}

#top_container, .tab-content > .active, .pill-content > .active {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #DDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

pre .xml .javascript {
    opacity: 1;
}