.text-layer {
    font: 12px Monaco, "Courier New", monospace;
    cursor: text;
}

.blinker {
    animation: blink 1s linear infinite alternate;
}

@keyframes blink {
    0%, 40% {
        opacity: 0;
    }

    40.5%, 100% {
        opacity: 1
    }
}