.text-layer {
    font: 12px Monaco, "Courier New", monospace;
    font-size: 3vmin;
    cursor: text;
}

.blinker {
    animation: blink 1s linear infinite alternate;
}

@keyframes blink {
    0%, 40% {
        opacity: 0;
    }

    40.5%, 100% {
        opacity: 1
    }
}

@viewport {
    min-zoom: 1;
    max-zoom: 200%;
    user-zoom: fixed;
}
