!!!doctype
!!!5
!!!

include something

         include another_thing

  // let's talk about it

// 
  here it is. a block comment!
 and another row!
but not here.

     // 
        a far spaced
    should be lack of block

   // also not a comment
     div.attemptAtBlock
  
  span#myName

  #{implicit}
     !{more_explicit}

  #idDiv

    .idDiv

    test(id="tag")
    header(id="tag", blah="foo", meh="aads")
mixin article(obj, parents)

  mixin bleh()

    mixin clever-name

 -var x = "0";
 - y each z

 - var items = ["one", "two", "three"]
   each item in items
    li= item