src/mode/css/*
src/mode/coffee/*
src/mode/html/*
src/mode/javascript/*
src/mode/json/*
src/mode/lua/*
src/mode/php/*
src/mode/xml/*
src/mode/xquery/*
src/mode/xquery.js
src/test/asyncjs/
src/lib/es5-shim.js
src/keyboard/vim*.js
experiments/
tool/
doc/
build/
demo/
api/
**/* *
**/node_modules
0*