{
    "globals": {
        define: true,
        require: true,
        exports: true,
        module: true,
        __dirname: true,
        __filename: true,
        process: true,
        global: true,
        importScripts: true,
        document: true,
        window: true,
        location: true,
        navigator: true,
        console: true,
        Worker: true,
        postMessage: true,
        setTimeout: true,
        clearTimeout: true,
        setInterval: true,
        clearInterval: true,
        Blob: true,
        cvox: true,
        alert: true,
        prompt: true,
        XMLHttpRequest: true,
    },
    "rules": {
        curly: 0,
        eqeqeq: 0,
        no-underscore-dangle: 0,
        comma-dangle: 2,
        no-dupe-args: 2,
        no-dupe-keys: 2,
        no-duplicate-case: 2,
        no-empty-character-class: 2,
        no-empty: 0,
        no-ex-assign: 2,
        no-extra-parens: 0,
        no-func-assign: 2,
        no-inner-declarations: 2,
        no-invalid-regexp: 2,
        no-irregular-whitespace: 2,
        no-negated-in-lhs: 2,
        no-obj-calls: 2,
        no-sparse-arrays: 2,
        no-unexpected-multiline: 2,
        use-isnan: 2,
        valid-typeof: 2,
        
        accessor-pairs: 2,
        complexity: 2,
        dot-location: [2, "property"],
        no-caller: 2,
        no-case-declarations: 2,
        no-div-regex: 2,
        no-empty-label: 2,
        no-empty-pattern: 2,
        no-extra-bind: 2,

        no-implied-eval: 2,
        no-lone-blocks: 2,
        no-native-reassign: 2,
        no-new-func: 2,
        no-new-wrappers: 2,
        no-octal-escape: 2,
        no-octal: 2,

        no-redeclare: 0,
        no-return-assign: 0,
        no-script-url: 2,
        no-self-compare: 2,
        no-sequences: 2,
        no-useless-call: 2,
        yoda: 2,
                
        no-undef: 2,
        no-redeclare: 0,
        // no-unused-vars: 1,

        //////////////////////////////////////////////////////////////////
        //
        // no-unreachable: 2,
        // no-debugger: 2,
        // no-proto: 2,
        // no-regex-spaces: 2,
        // no-extend-native: 2,
        // no-useless-concat: 2,
        // no-eval: 2,
        // dot-notation: 2,
        // no-alert: 2,
        // no-extra-semi: 2, // doesn't handle ;(function() {})() pattern
        // radix: 2,
        // no-invalid-this: 2,
        // no-param-reassign: 2,
        // wrap-iife: 2,
        // no-throw-literal: 2,
        // no-multi-spaces: 2,
        // no-new: 2,
        // no-else-return: 2,
        // no-unused-expressions: 2,
        // no-use-before-define : [2, "nofunc"],
    }
}