[submodule "support/cockpit"]
	path = support/cockpit
	url = git://github.com/ajaxorg/cockpit.git
[submodule "support/pilot"]
	path = support/pilot
	url = git://github.com/ajaxorg/pilot.git
[submodule "support/dryice"]
	path = support/dryice
	url = git://github.com/ajaxorg/dryice.git
