[submodule "support/cockpit"]
	path = support/cockpit
	url = http://github.com/ajaxorg/cockpit.git
[submodule "support/pilot"]
	path = support/pilot
	url = http://github.com/ajaxorg/pilot.git
[submodule "support/dryice"]
	path = support/dryice
	url = http://github.com/ajaxorg/dryice.git
[submodule "doc/wiki"]
	path = doc/wiki
	url = http://github.com/ajaxorg/ace.wiki.git
