html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    background: rgb(14, 98, 165);
    color: white;
}

#c9-logo, #ace-logo {
    padding: 0;
    border: none;
}

#editor-container {
    position: absolute;
    top:  0px;
    left: 280px;
    bottom: 0px;
    right: 0px;
    background: white;
}

#controls {
    padding: 5px;
}

#controls td {
    text-align: right;
}

#controls td + td {
    text-align: left;
}
.ace_status-indicator {
    color: gray;
    position: absolute;
    right: 0;
    border-left: 1px solid;
}
.test-links { text-align: left; padding: 0.5em 1em; line-height: 2; }
.test-links a {color: whitesmoke }
.hidden-scroll-container { position:absolute; height:100%; width:260px}
.hidden-scroll-container > div { position: absolute; overflow: hidden; top:100px; bottom:0}
#optionsPanel {width: 120%; height:100%; overflow-y: scroll}
#ace-logo { width: 134px;margin: 46px 0px 4px 66px;}
#c9-logo{width: 172px; margin: -9px 30px -12px 51px;}

/* .ace_text-input {
    z-index: 10!important;
    opacity: 1!important;
    background: rgb(84, 0, 255)!important;
    color: rgb(255, 255, 255)!important;
    width: 10em!important;
}*/
