html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    background: rgb(14, 98, 165);
    color: white;
}

#logo {
    padding: 15px;
    margin-left: 70px;
}

#editor {
    position: absolute;
    top:  0px;
    left: 280px;
    bottom: 0px;
    right: 0px;
    background: white;
}

#controls {
    padding: 5px;
}

#controls td {
    text-align: right;
}

#controls td + td {
    text-align: left;
}

#scrolldiv_container {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    pointer-events: none;
}

#scrolldiv_child {
    -webkit-transform: translateZ(0px);
    pointer-events: none;
}