    html {
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    background: rgb(14, 98, 165);
    color: white;
}

#editor {  
    top: 55px;
    left: 0px;
    background: white;
}

#controls {
    width: 100%;
    height: 55px;
}

#jump {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid red;
    z-index: 10000;
    display: none;
}

#cockpitInput {
    position: absolute;
    width: 100%;
    bottom: 0;

    border: none; outline: none;
    font-family: consolas, courier, monospace;
    font-size: 120%;
}

#cockpitOutput {
    padding: 10px;
    margin: 0 15px;
    border: 1px solid #AAA;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 4px; border-top-right-radius: 4px;
    background: #DDD; color: #000;
}

#toggleGutter{
    height:8px;
    width:20px;
    background:lightblue;
    bottom:0;
    position:absolute;
    z-index: 1000;
    -moz-border-radius-topright: 20px;
}

#toggleGutter:hover{
    -moz-box-shadow: 2px -1px 5px 3px #91B6D5;
    border-right: 1px solid #A1A1CF;
    border-top: 1px solid #A1A1CF;
}