div#well
   form(id='searchbox', action='', class='navbar-search')    
     input(class='search-query span3', name='query', type='text', placeholder="Search the API", title="Search across all the documentation")

   ul.menu
      li
         div.menu-item
            a(class="menuLink namespace", href="ace.html#nav=api") Ace
      li
         div.menu-item
            a(class="menuLink namespace", href="anchor.html#nav=api") Anchor
      li
         div.menu-item
            a(class="menuLink namespace", href="background_tokenizer.html#nav=api") BackgroundTokenizer     
      li
         div.menu-item
            a(class="menuLink namespace", href="document.html#nav=api") Document    
      li
         div.menu-item
            a(class="menuLink namespace", href="edit_session.html#nav=api") EditSession                                                    
      li
         div.menu-item
            a(class="menuLink namespace", href="editor.html#nav=api") Editor

      //- probably not needing doc a(class="menuLink namespace", href="multi_select.html#nav=api") MultiSelect

      //- not actually doc'ed yet a(class="menuLink namespace", href="placeholder.html#nav=api") PlaceHolder

      li
         div.menu-item
            a(class="menuLink namespace", href="range.html#nav=api") Range

      //- not actually doc'ed yet a(class="menuLink namespace", href="renderloop.html#nav=api") RenderLoop

                                     
      li
         div.menu-item
            a(class="menuLink namespace", href="scrollbar.html#nav=api") Scrollbar
      li
         div.menu-item
            a(class="menuLink namespace", href="search.html#nav=api") Search                     
      li
         div.menu-item
            a(class="menuLink namespace", href="selection.html#nav=api") Selection   

      //- not actually doc'ed yet  a(class="menuLink namespace", href="split.html#nav=api") Split

      li
         div.menu-item
            a(class="menuLink namespace", href="token_iterator.html#nav=api") TokenIterator
      li
         div.menu-item
            a(class="menuLink namespace", href="tokenizer.html#nav=api") Tokenizer
      li
         div.menu-item
            a(class="menuLink namespace", href="undomanager.html#nav=api") UndoManager
      li
         div.menu-item
            a(class="menuLink namespace", href="virtual_renderer.html#nav=api") VirtualRenderer