include ../../common_layout
include lib

!!! 5
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

mixin head(title + " - " + fileName)

body

  mixin navBar

  mixin header

  .container-fluid
      .row-fluid
        .span2.sidebarContainer
          #sidebar
            include ace_menu.jade
        .span10
          #documentation
             mixin api()

             div(id="disqus_thread")

    mixin footer

  mixin endingScripts
