snippet zupfnoter.goto
	"^@${1:target}@${2:distance}"

snippet zupfnoter.annotation
	"^@!{1:text}@${2:x_offset},${3:y_offset}"

snippet zupfnoter.annotationref
	"^#${1:target}"

snippet zupfnoter.target
	"^:${1:target}"


snippet zupfnoter.print
	%%%%hn.print {"startpos": 20, "t":"Sopran, Alt", "v":[1,2], "s":[[1,2]], "f":[1],  "sf":[2], "j":[1]}
