# Create Procedure
snippet createproc
	-- =============================================
	-- Author:		${1:Author}
	-- Create date: ${2:Date}
	-- Description:	${3:Description}
	-- =============================================
	CREATE PROCEDURE ${4:Procedure_Name}
		-- Add the parameters for the stored procedure here
	AS
	BEGIN
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;
	
		-- Insert statements for procedure here
	END
	GO
